{
    "name": "{{ modJsonschemavalidatorVersion }}",
    "priority": 8,
    "waitDeploy" : true,
    "worker": true,
    "multi-threaded": true,
    "config": {
        "address" : "json.schema.validator"
    }
}